<!-- Modal -->
<div id="channels" class="modal fade in" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose Channel</h4>
      </div>
      <div class="modal-body">
        <ul></ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>
  $('#channels').modal({ show: false});
  $('#channels').on('show.bs.modal', function (e) {
    //Remove selected attribute from all li in modal
    $('#channels li').removeClass('selected');
    trigger = e.relatedTarget;
    var mon = monitorSetup[trigger.dataset.monitor];
    //Set the selected li based on which item triggered the modal
    $('#channels li[data-id="'+mon.id+'"]').addClass('selected');
});
</script>