<!-- Modal -->
<div id="channels" class="modal fade in" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose Channel</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>E-mail</li>
          <li>AVL | Cameras</li>
          <li>Trapeze OPS</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>
  $('#channels').modal({ show: false});
</script>