:local {
  .modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #c0c0c0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.2);
  }

  .modal-window {
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .header {
    position: relative;
    padding: 20px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: #607d8b;
    font-size: 24px;
    color: white;
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border: none;
    background: none;
    font-size: 24px;
    color: white;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .channel,
  .preset {
    padding: 20px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    &:last-of-type:hover {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .selected-channel {
    composes: channel;
    background: rgba(0, 0, 0, 0.2);
  }

  .channels-list {
    display: flex;
    justify-content: space-around;
  }

  .available-channels,
  .in-use-channels {
    flex: 1;
  }

  .available-channels {
    border-right: 1px solid black;
  }

  .channel-status {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
  }
}
